<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Players</title>
  </head>
  <%- include('../partials/nav.ejs')%>
  <body>
    <h1>Players</h1>
    <a class="btn add-new-player" href="/players/new">Add New Player</a>
    <ul>
      <% players.forEach(p => { %>
      <li>
        <strong>Name:</strong> <%= p.name %> <strong>Tag:</strong> <%=
        p.currentTag %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
