<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Players</title>
  </head>
  <body>
    <h1>Players</h1>
    <a href="/">Back</a><br />
    <a href="/players/new">Add New Player</a>
    <ul>
      <% players.forEach(p => { %>
      <li>Name: <%= p.name %> ID: <%= p._id %></li>
      <% }) %>
    </ul>
  </body>
</html>
