<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/events/formPage.css" />
    <title>New Event</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs')%>
    <h1>Create New Event</h1>
    <a href="/events" class="btn cancel">Cancel</a>
    <form action="/events" method="POST">
      <label for="">Event Name:</label>
      <input type="text" name="name" />
      <br />
      <label for="">Date: </label>
      <input type="date" name="date" />
      <br />
      <label for="">Course: </label>
      <input type="text" name="course" />
      <br />
      <input class="btn" type="submit" value="Add Event" />
    </form>
  </body>
</html>
