<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>Disc Golf Tag Masters</h1>
    <a href="/events">Events</a>
    <a href="/players/new">Create New Player</a>
    <a href="">Tag Master Log In</a>
    <a href="">Tag Master Sign Up</a>
  </body>
</html>
