@import '../style.css';

.cancel {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}

form {
  margin: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
}

form label {
  display: block;
  font-size: 20px;
  margin: 10px;
}

form input[type='text'],
form input[type='date'] {
  height: 30px;
  width: 50%;
  font-size: 20px;
  margin-left: 10px;
}

form input[type='submit'] {
  margin: 10px;
}
