@import '../nav.css';

.event-info {
  background-color: white;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0 10px 20px 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-delete-box {
  display: flex;
}

.edit-delete-box a {
  margin-right: 20px;
}

.event-info h2 {
  color: dodgerblue;
  font-size: 31px;
  margin-bottom: 10px;
}

.event-info p {
  font-size: 20px;
  margin-bottom: 5px;
}

.new-player {
  margin: 0 10px 10px 10px;
  font-size: 16px;
  font-weight: bold;
}

.new-player input[type='text'] {
  width: 100%;
  height: 30px;
  font-size: 20px;
  margin-bottom: 5px;
}

.btn {
  font-size: 16px;
  text-decoration: none;
  background-color: rgb(237, 237, 237);
  color: black;
  padding: 2px;
  border: 1px solid grey;
  border-radius: 5px;
}

.add-player {
  padding: 2px 5px;
}

#mytable {
  margin-left: 10px;
}

#mytable th {
  font-size: 20px;
  padding-right: 10px;
}

#mytable td {
  font-size: 20px;
  text-align: center;
  padding: 2px 0;
}

.player-name {
  text-align: left !important;
}

.finish-match,
.export-tags {
  margin-top: 10px;
  margin-left: 20px;
}
